.navigation{
  &-checkbox{
      display: none;
      @include respond(phone-standart){

        transform: scale(0.8);
      }
  }

  &-button,
  &-button:visited{
      background-color: $color-white;
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 6rem;
      right: 6rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba($color-black, .3);
      text-align: center;
      cursor: pointer;
      transition: all .2s;

      @include respond(phone-standart){
        right: 2rem;
        transform: scale(0.8);
      }
      @include respond(phone-exsmall){
        transform: scale(0.7);
      }
  }

  &-background{
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 6.5rem;
      right: 6.5rem;
      background-image: radial-gradient($color-primary-light, $color-primary-dark);
      z-index: 1000;
      transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
      @include respond(phone-standart){
        right: 2.1rem;
        transform: scale(0.8);
      }

      @include respond(phone-exsmall){
        transform: scale(0.7);
        right: 2.1rem;
      }
      //transform: scale(90);
  }

  &-nav{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &-list{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;;
      text-align: center;
      width: 100%;
  }

  &-item{
    margin: 3rem;
  }

  &-link{
    &:link,
    &:visited{
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 3.5rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 225%;
      transition: all .4s;

      @include respond(phone-exsmall){
        font-size: 2rem;
      }

      @include respond(phone-standart){
        font-size: 2.5rem;
      }
    }

    &:hover,
    &:active{
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &-checkbox:checked ~ &-background {
    transform: scale(90);
  }

  &-checkbox:checked ~ &-nav {
    opacity: 1;
    width: 100%;
  }

  ///ICON///
    &-icon{
      position: relative;
      margin-top: 3.5rem;
      &,
      &::before,
      &::after{
        width: 3rem;
        height: 2px;
        background-color: $color-grey-dark-3;
        display: inline-block;
      }

      &::before,
      &::after{
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
      }

      &::before{
        top: -.8rem;
      }

      &::after{
        top: .8rem;
      }
    }

    &-button:hover &-icon::before{
        top: -1rem;
    }

    &-button:hover &-icon::after{
        top: 1rem;
    }

    &-button:hover{
        transform: scale(1.1);
        @include respond(phone-standart){
          transform: scale(0.8);
        }
    }

    &-checkbox:checked + &-button &-icon{
        background-color: transparent;
    }

    &-checkbox:checked + &-button &-icon::before{
        top: 0;
        transform: rotate(135deg);
    }

    &-checkbox:checked + &-button &-icon::after{
        top: 0;
        transform: rotate(-135deg);
    }
}
