body{
  margin: 0;
  padding: 0;
}

 .button{
  width:50px;
  height:50px;
  font-size: 25px;
  font-weight:  bold;
  margin: 2px;
  cursor: pointer;
  background: #b1b1b1;
  border: none;
  color: white;
  opacity: 0.8;
  box-shadow: 3px 2px 1px grey;

}

tr : hover .button{
  opacity: 0;
}

.textview{
  width:213px ;
  height: 40px;
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  border: none;
  color:  #607d8b;
  box-shadow: 3px 2px 1px ;
  
}

.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);

}
@media (max-width:320px){
  .main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.5);

  }
}

@media (max-width:768px){
  .main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.5);

  }
}

.bg{
  position: fixed;
  background: linear-gradient(to right, #ffeaa7, #fdcb6e);
  height: 100%;
  width: 100%;
}
