body{
  margin: 0;
  padding: 0;
  background: #dfe6e9;
}

*{
  box-sizing: border-box;
}

.container{
  display: flex;

  height: 80vh;
  justify-content: space-around;
  align-items: center;
}

.card{
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-item{
  background: #fff;
  width: 400px;
  height: 300px;

  transition: transform 0.3s;
  transform: rotateX(0deg);
}
img{
  width: 400px;
  height: 300px;
}

h1{

  font-family: 'Fredoka One', cursive;
  color: #fff;
  font-size: 80px;
  text-align: center;

  width: 800px;
  margin: 0 auto;
}
