body{
  margin: 0;
  padding: 0;
  height: 3000px;
}


header{
  background: url(images/HeaderBG.png) no-repeat;
  background-position: top center;
  background-size: 100% 90%;
  height: 110vh;
}

#logo{
  transform: scale(0.8);
  margin-top: -1%;
  margin-left: 2%;
}

.m-menu{
  border: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 30%;
  position: relative;
  cursor: pointer;
  display: none;
}

.m-menu span::before,
.m-menu span::after,
.m-menu span{
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.m-menu span::before,
.m-menu span::after{
  content: "";
  display: block;
  transition: 0.5s;
}

.m-menu span::before {
  transform: translateY(-5px);
  transform-origin: right bottom;
}

.m-menu span::after{
  transform: translateY(5px);
  transform-origin: right top;
}


nav{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.menu-item{
  text-decoration: none;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.active{
  color: #d78c00;
}

.menu{
  width: 40vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

.header-txt{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #FFF;
}

a:active{
  color: #eaaa32;
}

  .header-txt h1{
    font-size: 4.5rem;
    margin-bottom: 1vh;
  }
