// COLORS
$color-orange: #ff9c00;

$color-yellow-light: #ffebc1;
$color-yellow-dark: #ffb717;

$color-grey: #4d4d4f;

$color-white: #fff;
$color-black: #000;

$color-blue-dark: #5483b9;
$color-blue-light: #7ab5f5;
